{% extends 'index.html' %}

{% block content %}
{% load static %}
      <!-- news section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="news_taital">FEATURED CAUSE</h1>
                  <p class="news_text">going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
               </div>
            </div>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="news_img"><img src="{% static 'images/news-img.png' %}"></div>
                  </div>
                  <div class="col-md-6">
                     <h1 class="give_taital">GIVE EDUCATION</h1>
                     <p class="ipsum_text">variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by<br>
                        injected humour, or randomised v<br>
                        ariations of passages of Lorem Ipsum <br>
                        available, but the majority have suffered alteration in some form, by injected humour, or randomised 
                     </p>
                     <h5 class="raised_text">Raised: $60,010     <span class="goal_text">Goal: $70,000</span></h5>
                     <div class="donate_btn_main">
                        <div class="readmore_btn"><a href="#">Read More</a></div>
                        <div class="readmore_btn_1"><a href="{% url 'donate' %}">Donate Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- news section end -->
     

      {% endblock %}