{% extends 'index.html' %}

{% block content %}
{% load static %}
      <!-- mission section start -->
      <div class="mission_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="mission_taital">Charity</h1>
                  <p class="mission_text">Over the years, we have faced a multitude of issues but undeterred,
                     we have devised several solutions that help us continue sharing the gift of education with underprivileged children. </p>
                     <p class="mission_text">Access to education has always been a challenge for under-privileged children. However, due to the pandemic, as livelihoods were affected and many families were further pushed into poverty, lesser-privileged children suffered the most.

                        Schools were closed, education shifted online and economic vulnerability forced many children to compromise on their education and drop out of school to engage in menial labour.
                        
                        The impact of the pandemic has been deep and long lasting. While privileged children could go back to school, under-privileged children have been struggling to get their lives back to normal. Coping with the expenses of the new online mode of learning has also posed as a challenge for many.
                        
                        Therefore, to ensure education for all, our campaign ‘Shiksha Na Ruke’ aims not only at bringing drop out children back to school but also in enabling uninterrupted learning for children through access to resources needed for their education.  </p>
               </div>
            </div>
         </div>
        
         <div class="mission_section_2 mx-5">
            <div class="row">
               <div class="col-md-5 mx-5">
                  <div class="container_main">
                     <img src="{% static 'images/child12.jpg' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                          
                        </div>
                     </div>
                  </div>
               </div>
              
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child6.jpg' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#"  style="border-radius:10px ;">Read More</a></div>
                              <div class="donate_bt"><a href="{% url 'donate' %}"  style="border-radius:10px ;">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- mission section end -->



      <div class="news_section layout_padding">
        <div class="container">
           <div class="row">
    
           </div>
           <div class="news_section_2">
              <div class="row">
                 <div class="col-md-6">
                    <div class="news_img"><img src="{% static 'images/child3.jpg' %}"></div>
                 </div>
                
                 <div class="col-md-6">

                  
                    <p class="ipsum_text">Bringing drop-out children back to school</p>
                    <p class="ipsum_text">Providing smart phones and tablets to under-privileged children to ensure uninterrupted learning
                    </p>
                    <p class="ipsum_text">Providing stationary, uniform and necessary support to under-privileged children</p>
                    <p class="ipsum_text">Ensuring mental well-being – Helpline services and one-on-one monitoring sessions for children to keep them engaged</p>
                    <p class="ipsum_text">Regular counseling of parents to ensure the child’s participation in school</p>
                   
                    <div class="donate_btn_main">
                     
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>


     <div class="mission_section layout_padding ">
        <div class="container">
           <div class="row mb-5">
            <h1 class="mission_taital">Poverty</h1>
              <div class="col-sm-12">
                
                    <p class="mission_text">Our little support can ensure a bright future for orphans and the helpless. There exist many orphans and helpless children, especially in the Rohingya refugee camp, the orphans are heartbreaking casualties. BASMAH has come forward and established orphan centers cum schools in Rangpur, Narayanganj, and Mymensingh. We also support the orphans at the Rohingya refugee camps wherein the Rohingya orphans come and go but do not stay overnight at the centers. 

                        Our orphan centers provided the children with the necessary shelter, healthy meals, clothes, healthcare and education to have a better life. Our Prophet Muhammed (PBUH) teaches us, that we must protect and support the orphans.
                        
                        Support an orphan! You can help change a child’s life and future by providing education and care.

                        From hunger to disaster relief, international charity organizations exist to address the many causes that affect those around the world. There are several types of international charities that are dedicated to promoting peace, defending human rights, providing disaster relief and more. Each of these organizations has a specific mission that it is devoted to and strives to make a difference in the lives of those who need assistance the most.
                        International charities serve an important purpose by reaching out to those who are in need of assistance in areas where there are little or no resources available. These charities provide aid either by educating, setting up programs or providing necessary supplies.

Some international charities focus on one nation, while others may have a presence in numerous countries. Some organizations have a sole purpose such as to deliver medical supplies or to educate an underserved population, while others have a wider purpose of simply improving the lives of people living in the areas with the greatest need for assistance.


                        
                       </p>
              </div>
           </div>
        </div>
   
        <div class="mission_section layout_padding">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 class="mission_taital">NECESSITIES</h1>
                     <p class="mission_text">SmileIndia.org is an international aid organization that is Christian in focus. It works to end injustice and poverty around the world by working closely with children and their families to identify what they need the most. World Vision works in over 100 countries and does not discriminate on religion race, gender or ethnicity. It helps communities find ways to improve their lives and find long lasting solutions to their many issues. </p>
                        <p class="mission_text">Save the Children provides food, medical care, supplies and education to children in the United States and around the world. It responds to disasters as well as to long-term need in communities that have struggles that affect the lives of children. Areas of focus include hunger, poverty, illiteracy and disease. Areas where Save the Children helps include Africa, Asia, Latin America, Caribbean and the Middle East.

                        </p>
                  </div>
               </div>
            </div>

            <div class="mission_section layout_padding">
                <div class="container">
                   <div class="row mb-5">
                      <div class="col-sm-12">
                         <h1 class="mission_taital">How to Help</h1>
                         <p class="mission_text">Most international organizations rely on donations to help fund their various programs. If there is an international cause that you hold dear, consider helping by donating either your time or money. Be cautious that in addition to the many worthy charities that there are ones set up as scams as well. Always check that a charity is legitimate before making a donation. Resources such as Charity Navigator list details about charities around the world and will give a rating that indicates validity as well as value. </p>
                            <p class="mission_text">Save the Children provides food, medical care, supplies and education to children in the United States and around the world. It responds to disasters as well as to long-term need in communities that have struggles that affect the lives of children. Areas of focus include hunger, poverty, illiteracy and disease. Areas where Save the Children helps include Africa, Asia, Latin America, Caribbean and the Middle East.
    
                            </p>
                      </div>
                   </div>
                </div>
    
    

      {% endblock %}