{% extends 'index.html' %}

{% block content %}
{% load static %}
      <!-- mission section start -->
      <div class="mission_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="mission_taital">Mission causes</h1>
                  <p class="mission_text">Over the years, we have faced a multitude of issues but undeterred,
                     we have devised several solutions that help us continue sharing the gift of education with underprivileged children. </p>
               </div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="offset-md-2"></div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child4.jpg' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#"  style="border-radius:10px ;">Read More</a></div>
                              <div class="donate_bt"><a href="{% url 'donate' %}"  style="border-radius:10px ;">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/img-2.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#"  style="border-radius:10px ;">Read More</a></div>
                              <div class="donate_bt"><a href="{% url 'donate' %}"  style="border-radius:10px ;">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/img-3.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#"  style="border-radius:10px ;">Read More</a></div>
                              <div class="donate_bt"><a href="{% url 'donate' %}"  style="border-radius:10px ;">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child10.jpg' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#"  style="border-radius:10px ;">Read More</a></div>
                              <div class="donate_bt"><a href="{% url 'donate' %}"  style="border-radius:10px ;">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="offset-md-2"></div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="offset-md-2"></div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/img-5.png' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#"  style="border-radius:10px ;">Read More</a></div>
                              <div class="donate_bt"><a href="{% url 'donate' %}"  style="border-radius:10px ;">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child6.jpg' %}" alt="Avatar" class="image">
                     <div class="overlay">
                        <div class="text">
                           <h4 class="some_text">whichalteration in some </h4>
                           <p class="alteration_text">Alteration in some form, by injected humour, or randomised words whichalteration in some form, by injected humour, or randomised words which</p>
                           <div class="btn_main">
                              <div class="donate_bt"><a href="#"  style="border-radius:10px ;">Read More</a></div>
                              <div class="donate_bt"><a href="{% url 'donate' %}"  style="border-radius:10px ;">Donate Now</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- mission section end -->
    

      {% endblock %}