{% extends 'index.html' %}

{% block content %}
{% load static %}
      <!-- mission section start -->
      <div class="mission_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
               </div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="offset-md-2"></div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child11.jpg' %}" alt="Avatar" class="image">
                   
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child2.jpg' %}" alt="Avatar" class="image">
                    
                  </div>
               </div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child14.jpg' %}" alt="Avatar" class="image">
                    
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child10.jpg' %}" alt="Avatar" class="image">
                    
                  </div>
               </div>
               <div class="offset-md-2"></div>
            </div>
         </div>
         <div class="mission_section_2">
            <div class="row">
               <div class="offset-md-2"></div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child4.jpg' %}" alt="Avatar" class="image">
                   
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="container_main">
                     <img src="{% static 'images/child6.jpg' %}" alt="Avatar" class="image">
                    
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- mission section end -->
    

      {% endblock %}